.pageTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTop .yeniSayfaEkleButton{
    margin: 20px;
    font-size: 30px;
    font-family: 'Bunya PERSONAL', sans-serif;
    border-radius:10px;
    text-align: center;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.pageTop .yeniSayfaEkleButton i{
    margin-right: 10px;
    font-size: 25px;
}
.pageTop .yeniSayfaEkleButton:hover{
    background-color: #383838;
}
.gunlukIcerikInput{
    height: 400px;
}
#bugununTarihiButton{
    margin-top: 10px;
    font-size: 15px;
}
.sayfalar{
    margin: 20px 20px 0px;
    margin-top: 60px;
    width: 1000px;
}
.sayfalarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}       

.acilanMenu{
    padding-top:20px;
    background-color: none;
    border-bottom: 1px solid #2e2d2d;
}
.acilanMenu2{
    border: none;
    box-shadow: none;
    margin-top: 10px;
}
.acilanMenu:focus{
    outline: 0;
    border: 0;
    box-shadow: none;
}
.menuBaslik{
    font-size: 24px;
}

.icerikBody{
    border: none;
}
.icerikBaslik{
    text-transform: capitalize;
}
.icerikP{
    margin-top: -10px;
    font-size: 20px;
}

.button{
    height: 60px;
    width: 60px;
    background: #2e2d2d;
    border: none;
  }
  .editButton{
    border-radius: 0 10px 10px 0;
  }
  .deleteButton{
    border-right: 2px solid #292929;
    border-radius: 10px 0px 0px 10px;
  }
  .edit .icon{
    color: rgb(193, 193, 215);
  }
  .icon{
    width: 60px;
    height: 26px;
  }
  .buttonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
    color: rgb(193, 193, 215);
    font-size: 26px;
  }
  
  @media only screen and (max-width: 700px) { 
    .icon{
      font-size: 21px;
      text-align: center;
    }
    .button{
      width: 50px;
      height: 50px;
    }
  }