h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

body{
  background-color: #000;
}
.pomodroContainer {
  display: flex;
  /* width: 58%; */

  /* Değişiklikler */
  width: 85%;
  max-width: 950px;
  align-items: center;

  justify-content: space-around;
  border-radius: 50px;
  height: 350px;
  border: 3px solid blue;
  box-shadow: 0px 0px 49px 0px #030eed;
}

.pomodroContainer .bilgiYazilar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 260px;
  width: 1100px;
  border-radius: 0 0 50px 50px;
  height: 100px;
}

.pomodroContainer button {
  font-size: 40px;
  height: 70px;
  border: none;
  margin-top: 9px;
  z-index: 9999;
  cursor: pointer;
  margin-left: 90%;
  background-color: black;
  color: white;
  transition: 0.4s ease;
}

.section1 {
  height: 100vh;
}

.hourelement {
  height: 275px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 10px;
  background-color: #130f13;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.hourelement h2 {
  font-size: 130px;
  font-family: "BDP FOX", sans-serif;
}

.bilgiYazi {
  position: absolute;
  bottom: 0px;
  margin-bottom: 7px;
}

p {
  font-size: 30px;
  color: #9d9b9d;
  position: absolute;
  font-family: "TGL 0-17 Alt", sans-serif;
  text-transform: uppercase;
}

.saat {
  width: 100%;
  padding: 20px;  
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

.buttons {
  margin-top: 40px;
}

.button {
  font-size: 20px;
  margin: 10px;
}

#butonDuraklat {
  display: none;
}

#butonBitir {
  display: none;
}

#butonGeriBaslat {
  display: none;
}

.ozelSayaclarYazi{
  font-size: 26px;
  margin-top: 25px;
}

.inputRowlar input{
  text-align: center;
  font-size: 18px;
  font-size: 600;
}

.sinavSayaci{
  width: 120px;
  margin: 10px;
  border-radius: 15px;
  height: 50px;
  background-color: #1e1e1e;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.sinavSayaciSecili{
  background-color: #000000;
}
.sinavSayaci h4{
  font-size: 19px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sayacSatir{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 610px) {  
  .pomodroContainer{
      flex-direction: column;
      height: 100%;
  }

  .hourelement{
      height: auto;
      margin: 10px 0px;
      padding: 40px;
  }

  .saat{
      display: flex;
      flex-direction: column;
  }

  .hourelement h2 {
      font-size: 90px;
      margin: 0;
  }

  .bilgiYazi{
    display: none;
  }
}