.sorularContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 1200px;
    height: 1400px;
    background-color: #050505;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
    box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
}

.soruekle{
    width: 800px;
    border-radius: 25px;
    height: 65px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
}

.soruekle i{
    margin-left: 15px;
    font-size: 35px;
    border-radius: 100%;
    margin-top: 13px;
}
.soruekle h2{
    margin-top: 10px;
    position: absolute;
}
.soruekle:hover{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
    box-shadow: 0px 0px 25px 0px rgba(107,104,107,1);
}
.colorWhite{
    transition: 0.4s;
}
.soruekle:hover .colorWhite{
    color: white;
}
.soruBilgiAdd{
    transition: 0.2s;
    width: 760px;
    border-radius: 25px;
    margin-top: 80px;
    height: 0px;
    position: absolute;
    z-index: 9999;
    cursor: initial;
    background-color: #a44040;
    display: flex;
}
.soruBilgiAdd .left{
    width: 50%;
    transition: 0.4s;
    margin-top: 1px;
    height: 100%;
    display: none;
    border-right: 1px solid rgb(146, 47, 47);
    border-radius: 25px 0 0 25px ;
}
.soruBilgiAdd .right{
    width: 50%;
    height: 100%;
    display: inline-block;
    border-radius: 0 25px 25px 0;
}
.soruBilgiAdd .left form h2{
    display: flex;
}
.soruBilgiAdd .left form{
    display: flex;
}

.formLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formLeft h2{
    margin: 10px;
    color: white;
    font-family: 'Bunya PERSONAL', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 15px;
    outline: #006faa 2px;
}
.formLeft input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    background-color: #101010;
    font-family: 'KG Crossing A Line', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 24px;
    transition: 0.4s;
    color: white;
}
.formLeft input:focus{
    border: 1px solid rgb(5, 67, 74);
}
.textAreaLeft:focus{
    border: 1px solid rgb(5, 67, 74);
}
.textAreaLeft{
    outline: 4px solid red;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    background-color: #101010;
    font-family: 'KG Crossing A Line', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 24px;
    color: white;
    padding: 5px;
}

.lastButton{
    width: 300px;
    height: 32px;
    font-size: 16px;
    margin: 10px;
    font-family: 'Static Bold', sans-serif;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.471);
    text-align: center;
    font-size: 29px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 0.4s;
}

.lastButton:hover{
    background-color: #471e1e;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    color: white;
    background-color: white;
}

.sorular{
    width: 760px;
    height: 550px;
    position: absolute;
    margin-top: 420px;
    overflow-y: scroll;
    border-radius: 15px;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px 0px rgb(54, 17, 129);
    -moz-box-shadow: 0px 0px 25px 0px rgb(54, 17, 129);
    box-shadow: 0px 0px 25px 0px rgb(54, 17, 129);
}

.sorular::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sorular::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
.sorular::-webkit-scrollbar-thumb {
  background: #d12626;
  height: 1px;
}

/* Handle on hover */
.sorular::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toDoQuestion{
    width: 700px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 25px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    font-size: 20px;
    color: white;
    z-index: 9999;
    background-color: red;
    transition: 0.2s;
    
}
.questionData{
    z-index: 9999;
    margin-left: -560px;
}
.dataLeft{
     display: none;
     height: 350px;
     margin-top: 55px;
     margin-left: -105px;
     text-align: center;
     padding-right: 10px;
     padding-bottom: 15px;
}
.dataLeft h2,.dataRight h2{
    font-family: 'Bunya PERSONAL', sans-serif;
}
.dataLeft h4,.dataRight h4{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #101010;
    font-family: 'KG Crossing A Line', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
    transition: 0.4s;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dataRight{
    position: absolute;
    display: none;
    height: 350px;
    text-align: center;
    margin-top: -350px;
    padding-right: 10px;
    margin-left: 235px;
    padding-bottom: 15px;
}
.soruKac{
    font-size: 40px;
    font-family: 'BAGOTA LOS', sans-serif;
    margin-top:-3px;
    margin-left: 10px;
    letter-spacing: 2px;
    font-weight: 100;
}
.dataRight p{
    outline: 4px solid red;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    background-color: #101010;
    font-family: 'KG Crossing A Line', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
    color: white;
    padding: 5px;
}

.deleteButton{
    font-size: 25px;
    margin-left: -1250px;
    cursor: cell;
    z-index: 9999;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0px 10px 10px 0;
    border: none;
    cursor: pointer;
}

.deleteButton i{
    color: black;
    font-size: 30px;
}

.pdfButon{
    position: absolute;
    z-index: 9999;
    margin-top: 1100px;
    width: 250px;
}

.leftSide{
    width: 50%;
    z-index: 9999;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0 10px 10px 0;
}

.rightSide{
    width: 50%;
    z-index: 9999;
    padding: 1px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}