.pageTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTop .soruEkleButton{
    margin: 20px;
    font-size: 30px;
    font-family: 'Bunya PERSONAL', sans-serif;
    border-radius:10px;
    text-align: center;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.sorularContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sorular{
    margin-top: 60px;
    width: 1000px;
}

.sorular::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sorular::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
.sorular::-webkit-scrollbar-thumb {
  background: #d12626;
  height: 1px;
}

/* Handle on hover */
.sorular::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pageEnd{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pdfButon{
    position: absolute;
    z-index: 9999;
    width: 250px;
}

#aciklama{
    height: 300px;
}

.icerikBaslik{
  text-transform: capitalize;
}
.icerikP{
  text-transform: capitalize;
}
.icerikSpan{
  width: 200px;
  height: 100px;
  background-color: #101010;
  border-radius: 5px;
  overflow-y: scroll;
  padding-top: 10px;
  overflow-x: visible;
}

/* .icerikSpan::-webkit-scrollbar {
  width: 10px;
}
.icerikSpan::-webkit-scrollbar-button {
  background: #222; 
}
.icerikSpan::-webkit-scrollbar-thumb {
  background: #333; 
}
.icerikSpan::-webkit-scrollbar-thumb:hover {
  background: #666; 
}
.icerikSpan::-webkit-scrollbar-track {
  background: #000; 
}
.icerikSpan::-webkit-scrollbar-track-piece {
  background: #000; 
}
.icerikSpan::-webkit-scrollbar-corner {
  background: #999; 
}
.icerikSpan::-webkit-resizer { 
  background: #111; 
} */