.pageTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTop .soruEkleButton{
    margin: 20px;
    font-size: 30px;
    font-family: 'Bunya PERSONAL', sans-serif;
    border-radius:10px;
    text-align: center;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.sorularContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sorular{
    margin-top: 60px;
    width: 1000px;
}

.sorular::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sorular::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
.sorular::-webkit-scrollbar-thumb {
  background: #d12626;
  height: 1px;
}

/* Handle on hover */
.sorular::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.pdfButon{
    position: absolute;
    z-index: 9999;
    display: none;
    margin-top: 100px;
    width: 250px;
}


#aciklama{
    height: 300px;
}
