.firstStatsHeaderContainer{
    display: flex;
    padding-left: 75px;
    color: rgba(255, 255, 255, 0.85);
}
.firstStatsDivContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
#hamburgerButton{
    margin-top: 6px;
}
.firstStatsDivHeader{
    display: flex;
    border-radius: 15px;
    letter-spacing: 1px;
}
.firstStatsDivHeader h2{
    text-align: center;
    font-family:"Forte",sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: #eeecec;
}
.firstStatsDivContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.firstStatsDiv{
    width: 15%;
    width: 335px;
    min-width: 200px;
    max-width: 335px;
    margin: 20px;
    margin-top: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 15px;
    font-family: 'SF Pro Display', sans-serif;
                                           
}
.firstStatsDiv h2{
    font-weight: 700; 
}
.firstStatsDiv p{
    font-weight: 400;
    font-size: 17.5px;
}

.firstStatsDiv:nth-child(even){
    background: linear-gradient(105deg, #4b006e, #001f4d);
}
.firstStatsDiv:nth-child(odd){
    background: linear-gradient(-25deg, #000428, #004e92);
}

.graphStatsDiv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.graphStatsDiv canvas{
    width: 48%;
    max-height: 500px;
    margin: 1%;
    height: 500px;
    border: 2px solid #202020;
}

.footerButtonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footerButtonDiv button{
    background-color: #303a45;
    border: none;
    font-weight: bold;
    height: 65px;
    width: 250px;
    border-radius: 50px;
    transition: 0.4s;
    margin-bottom: 20px;
}
.footerButtonDiv button:hover{
    background-color: #2c3b4b;
}
@media screen and (max-width:380px) {
    .firstStatsDiv{
        width: 90%;
    }
}
@media screen and (max-width:1180px) {
    .graphStatsDiv canvas{
        width: 100%;
    }
}