.sideBarButtons{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    background-color: aqua;
    width: 99%;
}
.sideBarButtons>.menuButton{
    width: 100%;
    background-color: #101010;
    border: none;
    border-bottom: 2px solid #403f3f;
    border-left: 2px solid #403f3f;
    margin: 0px;
    height: 100%;
    cursor: pointer;
    color: white;
    font-size: 26px;
    font-family: 'Bunya PERSONAL', sans-serif;
    letter-spacing: 3px;
}

